html{
    scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 36px;
  line-height: 1.3;
  text-align:left;
  margin-bottom: 12px;
}

h2{
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 12px;
}
.header {
	padding-top: 24px;
	padding-bottom: 20px;
	background-color: black;
}

.headertext{
  font-size: 36px;
  line-height: 1.3;
  text-align:left;
  margin-bottom: 12px;
}

.nav_title {
	color: white;
  text-align: center;
  width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

span{
  margin: 0 5px;
	animation: span 0.5s ease-in;
}

@keyframes span {
	100%,10% {margin: 0 5px;}
	10%,0% {margin: 0;}
}

.nav_links {
	margin-top: 5px;
}

.nav_title a, .nav_links a {
	padding: 4px 22px;
	text-align: center;
	display: block;
}

.nav_links a {
	color: white;
  text-decoration: none;
}

.nav_links a:hover {
	color: grey;
}

.nav_links .current{
  background: white;
  color:black;
  text-decoration: line-through;
}


footer{
  font-size: 12px;
  background: #F1F1F1;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position:relative;
  top:-40px;
}

.skip a:focus{
  position:absolute;
  top:0px
}

*:focus{
  border: 2px solid black;
}

#para1{
  margin: 12px 24px;
}

.coffee1{
  display: grid;
  grid-column: 1/-1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 500px;
  background-image: url("../images/about/coffee_shop.jpg");
}

.coffee1 h2{
  color: white;
  padding: 440px 18%;
  text-align: left;
}

#para2{
  margin: 12px 24px;
}

.flip {
  height: 400px;
}

.flip-inner {
  position: relative;
  width: 300px;
  height: 300px;
  margin:auto;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip:hover .flip-inner {
  transform: rotateY(180deg);
}

.flip-front, .flip-back {
  position:absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-back {
  background-color: #F1F1F1;
  color: black;
  transform: rotateY(180deg);
  height: 300px;
  line-height: 300px;
  text-align: center;
}

.flip-back >h1{
  height: 300px;
  line-height: 300px;
  text-align: center;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


.contactcontainer {
  border-radius: 5px;
  background-color: #F1F1F1;
  padding: 24px 18%;
}



@media all and (min-width: 800px){

.header, .nav_links {
		display: flex;
	}

.header {
		flex-direction: column;
		align-items: center;
}

#para1{
  margin: 48px 18% 48px 18%;
}

#para2{
  margin: 48px 18% 48px 18%;
}

}

@media (prefers-reduced-motion: reduce){
  span{
    -webkit-animation: none;
    keyframes: none;
    animation: none;
  }
}
