html{
    scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  width:100%;
}

h1{
  font-size: 36px;
  line-height: 1.3;
  text-align:left;
  margin-bottom: 12px;
}

h2{
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 12px;
}

.header {
	padding-top: 24px;
	padding-bottom: 20px;
	background-color: black;
}

.headertext{
  font-size: 36px;
  line-height: 1.3;
  text-align:left;
  margin-bottom: 12px;
}

.nav_title {
	color: white;
  text-align: center;
  width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

span{
  margin: 0 5px;
	animation: span 0.5s ease-in;
}

@keyframes span {
	100%,10% {margin: 0 5px;}
	10%,0% {margin: 0;}
}

.nav_links {
	margin-top: 5px;
}

.nav_title a, .nav_links a {
	padding: 4px 22px;
	text-align: center;
	display: block;
}

.nav_links a {
	color: white;
  text-decoration: none;
}

.nav_links a:hover {
	color: grey;
}

.nav_links .current{
  background: white;
  color:black;
  text-decoration: line-through;
}

footer{
  font-size: 12px;
  background: #F1F1F1;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position:relative;
  top:-40px;
}

.skip a:focus{
  position:absolute;
  top:0px
}

*:focus{
  border: 2px solid black;
}


/* Map 1 */
.map1{
  display: grid;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 24px;
}

img {
  width: 100%;
  height: auto;
}


/* Map2 */
.map2{
  display: grid;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 24px;
}

img {
  width: 100%;
  height: auto;
}


@media all and (min-width: 800px){

.header, .nav_links {
    display: flex;
}

.header {
    flex-direction: column;
    align-items: center;
}

/* Map 1 */

.map1{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  margin: 24px 48px 0px 48px;
}

.name{
  grid-column: 1/3;
  grid-row: 1/span 1;
}


.minshen{
  grid-column: 1/2;
  grid-row: 2/span 1;
  overflow:hidden;
  max-height: 500px;
}

.tongmen{
  grid-column: 2/3;
  grid-row: 2/span 1;
  overflow:hidden;
  max-height: 500px;
}


.map2{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 48px;
  margin: 24px 48px 0px 48px;
}

.name2{
  grid-column: 1/3;
  grid-row: 1/span 1;
}

.gongguang{
  grid-column: 1/3;
  grid-row: 2/span 1;
  overflow:hidden;
  max-height: 500px;
}


}


@media (prefers-reduced-motion: reduce){
  span{
    -webkit-animation: none;
    keyframes: none;
    animation: none;
  }
}
