html{
    scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 36px;
  line-height: 1.3;
  text-align:left;
  margin-bottom: 12px;
}

h2{
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 12px;
}

.header {
	padding-top: 24px;
	padding-bottom: 20px;
	background-color: black;
}

.nav_title {
	color: white;
  	text-align: center;
  	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

span{
  margin: 0 5px;
	animation: span 0.5s ease-in;
}

@keyframes span {
	100%,10% {margin: 0 5px;}
	10%,0% {margin: 0;}
}

.nav_links {
	margin-top: 5px;
}

.nav_title a, .nav_links a {
	padding: 4px 22px;
	text-align: center;
	display: block;
}

.nav_links a {
	color: white;
  text-decoration: none;
}

.nav_links a:hover {
	color: grey;
}

.nav_links .current{
  background: white;
  color:black;
  text-decoration: line-through;
}


footer{
  font-size: 12px;
  background: #F1F1F1;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position:relative;
  top:-40px;
}

.skip a:focus{
  position:absolute;
  top:0px
}

*:focus{
  border: 1px solid black;
}

.img-main{
  margin: 24px;
  height: 300px;
  overflow: hidden;
}

.container{
  display: grid;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 24px;
}

.img-main{
  grid-column: 1/2;
  grid-row: 2/ span 1;
  overflow: hidden;
  max-height: 520px;
}

img {
  width: 100%;
  height: auto;
  overflow: hidden;
}



@media all and (min-width: 800px){

.header, .nav_links {
  	display: flex;
}

.header {
    flex-direction: column;
    align-items: center;
}

footer{
      font-size: 12px;
      color: black;
      grid-column: 2/8;
      grid-row: 9/ span 1;
      padding-top: 24px;
      padding-bottom: 24px;
      text-align: center;
    }

.img-main{
      grid-column: 1/7;
      grid-row: 2/ span 1;
      overflow: hidden;
      height: 530px;
      margin: 48px 48px  0px 48px;
  }

.container{
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(9, auto);
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    margin: 0px 48px;
}

.name{
    grid-column: 1/7;
    grid-row: 3/span 1;
}

.about1{
    grid-column: 1/4;
    grid-row: 4/span 1;
}

.about2{
    grid-column: 4/7;
    grid-row: 4/span 1;
}

  .img1{
      grid-column: 1/3;
      grid-row: 5/span 1;
      overflow:hidden;
      width: 100%;
      max-height: 300px;
      object-fit: scale-down;
    }

  .img2{
      grid-column: 3/5;
      grid-row: 5/span 1;
      overflow: hidden;
      max-height: 300px;
    }

  .img3{
      grid-column: 5/7;
      grid-row: 5/span 1;
      overflow: hidden;
      max-height: 300px;
    }

  .img4{
      grid-column: 1/3;
      grid-row: 6/span 1;
      overflow: hidden;
      max-height: 300px;
    }

  .img5{
      grid-column: 3/5;
      grid-row: 6/span 1;
      overflow: hidden;
      max-height: 300px;
    }

  .img6{
      grid-column: 5/7;
      grid-row: 6/span 1;
      overflow: hidden;
      max-height: 300px;
    }

  .img7{
      grid-column: 1/3;
      grid-row: 7/span 1;
      overflow: hidden;
      max-height: 300px;
    }

  .img8{
      grid-column: 3/5;
      grid-row: 7/span 1;
      overflow: hidden;
      max-height: 300px;
    }

  .img9{
      grid-column: 5/7;
      grid-row: 7/span 1;
      overflow: hidden;
      max-height: 300px;
    }

  .info{
      grid-column: 1/7;
      grid-row: 8/span 1;
    }

  }


  @media (prefers-reduced-motion: reduce){
    span{
      -webkit-animation: none;
      keyframes: none;
      animation: none;
    }
  }
